# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# MongoDB
*.bson

# Build files
build/
dist/

# Netlify
.netlify/

# Render
.render/

# Node modules (if added later)
node_modules/